body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    font-family: Roboto, Tahoma, sans-serif;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.headlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

a {
    color: white;
    gap: 12px;
    text-decoration: none;
}
