@import url('https://fonts.googleapis.com/css?family=Lato:300i'); 


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    min-height: 100vh;
    overflow: auto;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    font-family: Roboto, Tahoma, sans-serif;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
}
.headlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #1F2937;
    color: white;
    font-size: 12px;
}

a {
    color: white;
    gap: 12px;
    text-decoration: none;
}

.darkbg{
    background-color: #1F2937;
    color: white;
}

.darkbg.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.darkbg.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 0 auto;
    gap: 8px;
}

.placeholder.img {
    display: flex;
    flex: 0 1 0;
}

.placeholder.img #sillyhusky {
    height: 350px;
    width: auto;
    border-radius: 10%;
}

.awesome {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 350px;
}

.subtext {
    font-size: 18px;
    color: #E5E7Eb;
    width: 400px;
}

.signup button {
    color: white;
    background-color: #3882f6;
    padding: 5px;
    
    font-weight: 900;
    font-size: 20px;
    border-width: 1px;
    border-color: #3882f6;
    border-radius: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    align-items: center;
    height: 450px;
}

.info.container {
    display: flex;
    flex-direction: column; 
    flex: 1 1 auto;
    gap: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.info.text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    flex: 0 1 0;
}

.sections {
    display: flex;
    flex: 1 1 auto;
    width: 800px;
    justify-content: space-between;
}

.boxes {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
}

.dogs {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    align-items: center;
    width: 170px;
}

.dogs.image {
    display: flex;
    padding-bottom: 8px;
    flex: 0 1 0;
}
.dogs.image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: #3882f6;
    border-width: 4px;
    border-radius: 5%;
    border-style: solid;
}

.dogs.text {
    display: flex;
    flex: 0 1 0;
    text-align: center;
    font-size: 12px;
    width: 170px;
}

.quote {
    display: flex;
    flex: 0 1 auto;
    height: 450px;
    justify-content: center;
    background-color: #E5E7Eb;
}

.quote.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 auto;
    width: 600px;
}

.quote.text {
    display: flex;
    flex: 0 1 0;
    height: fit-content;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    font-family: 'Lato';
}

.quote.author {
    display: flex;
    flex: 1 1 auto;
    max-height: fit-content;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 20px;
    padding-top: 8px;
}

.bluebox {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}

.bluebox.container {
    display: flex;
    flex: 0 1 auto;
    background-color: #3882f6;
    width: 850px;
    height: 150px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.bluebox.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 auto;
    height: 150px;
    
}

.bluebox.signup {
    flex: 0 0 auto;
    height: fit-content;
    color: white;
    background-color: #3882f6;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    
    font-weight: 300;
    font-size: 20px;
    border-width: 2px;
    border-color: white;
    border-radius: 15px;
    border-style: solid;
}

#action {
    font-size: 24px;
    font-weight: 900;
    color: white;
}

#signuptxt {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

